:root {
    --color-primary: #250c92;
    --color-secondary: #c5cae9;
    --color-accent: #f6be15;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
    text-align: center;
    background: var(--color-primary);
    color: var(--color-secondary);
  }
  
  h1 {
    font-size: 64px;
    margin: 15px 0;
  }
  
  h2 {
    font-size: 25px;
    margin: 0;
  }
  
  p {
    font-size: 18px;
  }
  
  .header a {
    color: inherit;
    text-decoration: none;
    font-weight: 900;
    letter-spacing: 1.2px;
    transition: .2s ease;
    display: inline-block;
    min-width: 0;
    padding: 0 4px;
  }
  
  .header a:hover {
    font-size: 1.25em;
    color: var(--color-primary);
    background: var(--color-secondary);
    border-radius: 18px;
    min-width: 85px;
  }
  
  .container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 15px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  .container-block {
    display: block;
    float: left;
    position: relative;
    margin: 15px;
    flex-basis: calc(25% - 30px);
    order: 3;
    border-radius: 4px;
  }
  
  .container-block>a {
    display: block;
    width: 100%;
    background:
      linear-gradient(rgba(51, 51, 51, 0.2),
      rgba(51, 51, 51, 0.7));
    transition: .15s ease-in;
    border-radius: 4px;
  }
  
  .container-block img {
    display: block;
    width: 100%;
    border-radius: 4px;
    mix-blend-mode: luminosity;
  }
  
  .container-block:hover>a {
    background:
      linear-gradient(rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5));
    transform: scale(1.1);
  }
  
  .description {
    position: absolute;
    bottom: 10px;
    left: 15px;
    padding: 1px 4px;
    border-radius: 1px;
    background: #000000;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .5px;
    transition: .15s ease-in;
  }
  
  .container-block:hover .description {
    background: var(--color-accent);
    color: #333333;
  }
  
  .panel {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #4c4444;
    color: #ffffff;
  }
  
  .panel, .panel-icons, .panel-text {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  
  .panel-icons {
    flex-basis: 35%;
    border-radius: 6px;
  }
  
  .panel-icons a {
    display: block;
    flex-basis: calc(50% - 20px);
    margin: 10px;
    fill: #ffffff;
  }
  
  .panel:hover {
    background: #ffffff;
    color: #333333;
  }
  
  .panel:hover a {
    fill: #333333;
  }
  
  .icon:hover {
    fill: var(--color-primary);
  }
  
  .panel-text {
    flex-basis: calc(50% - 20px);
    margin: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
  }
  
  @media (max-width: 1350px) {
    .container-block {
      flex-basis: calc(33% - 30px);
    }
  
    .container-special {
      order: 2;
    }
  
    .container-before {
      order: 1;
    }
  }
  
  @media (max-width: 1050px) {
    .container-block {
      flex-basis: calc(50% - 30px);
    }
  }
  
  @media (max-width: 650px) {
    h1 {
      font-size: 48px;
    }
  
    h2 {
      font-size: 18px;
    }
  
    p {
      font-size: 12px;
    }
  
    .container-block {
      flex-basis: calc(100% - 30px);
    }
  
    .container-special {
      order: 1;
    }
  
    .container-before {
      order: 2;
    }
  
    .panel {
      min-height: 300px;
    }
  }
  
  .header {
    margin: 3em auto;
    padding: 0 30px;
  }